body {
    background: #f1f5f9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

/* TITLE */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* ADD API */
.add-api {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background: #0ea5e9;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0284c7;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 25px 0;
}

.stat-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.stat-card span {
    font-size: 22px;
    display: block;
    margin-top: 10px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* TABLE */
.table-card {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #e2e8f0;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f8fafc;
}

/* GRAPH */
canvas {
    margin-top: 20px;
}